
.orderView {
    box-sizing: border-box;
    position: absolute;
    height: 90vh;
    width: 85vw;
    margin: 10vh 0 0 15vw;
    padding: 20px 0 0 20px;
    background-color: #fafafa;
    box-shadow: inset 0.2em 0.2em 2px #d2d2d2;
}

.addButton{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#f75b1d;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 2px 2px 3px #ff9f79;
    transition: all ease;
}

.addButton:hover{
    box-shadow: 0px 0px 5px 3px #ff9f79;
    transform: scale(1.06)
}

.plus{
	margin-top:20px;
}