.enter-promo {
    display: inline-block;
    width: 250px;
    height: 25px;
    padding: none;
    border: 1px solid #e6e6e6;
    background: #e6e6e6;
    color: #666;
}

.apply-promo {
    /* margin-left: -50px; */
    padding: none;
    height: 29px;
    width: 80px;
    border: none;
    background: #f75b1d;
    color: #fff;
}

.promo-box label{
    margin-left: -70px;
}

.promo-text{
    line-height: 2em;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 30px;
}

fieldset.radiogroup  { 
  margin: 0; 
  padding: 0; 
  /* margin-bottom: 1.25em;  */
  margin-left: -70px;
  padding: .1em; 
} 

fieldset.radiogroup legend { 
  margin: 0; 
  padding: 0; 
  font-weight: bold; 
  margin-left: 20px; 
  font-size: 100%; 
  color: black; 
} 


ul.radio  { 
  margin: 0; 
  padding: 0; 
  margin-left: 20px; 
  list-style: none; 
} 

ul.radio li { 
  border: 1px transparent solid; 
  font-size: 1.3em;
} 

.payment-method-label{
    margin: 15px 15px;
}

/* ul.radio li:hover, 
ul.radio li.focus  { 
  background-color: #f75b1d; 
  border: 1px #f75b1d solid; 
  width: 10em; 
} */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #f75b1d;
    position: absolute;
    top: 9px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}