  .progtrckr {
    text-align: center;
    padding-bottom: 16px;
  }
  .progtrckr li {
    margin-bottom: 10px;
  }

  .step {
    background-color: #ccc;
    min-height: 450px;
    padding: 10px;
  }

  html .step3 label, html .step4 label {
    font-size: 20px;
    text-align: left;
  }
  html .form-horizontal .control-label {
    text-align: left;
  }
  
  .eg-jump-lnk {
    margin-top: 50px;
    font-style: italic;
  }
  
  span.red {
    color: #d9534f;
  }
  span.green {
    color: #3c763d;
  }
  span.bold {
    font-weight: bold;
  }
  html .hoc-alert {
    margin-top: 20px;
  }
 
  html ol.progtrckr li.progtrckr-todo:before {
    background-color: #f2f9ff;
  }

  ol.progtrckr {
  list-style-type: none;
  padding: 0;
}

ol.progtrckr li {
  display: inline-block;
  text-align: center;
  line-height: 4.5rem;
  cursor: pointer;
}

ol.progtrckr li span {
  padding: 0 1.5rem;
}

@media (max-width: 650px) {
  .progtrckr li span {
    display: none;
  }
}
.progtrckr em {
  display: none;
  font-weight: 700;
  padding-left: 1rem;
}

@media (max-width: 650px) {
  .progtrckr em {
    display: inline;
  }
}

ol.progtrckr li.progtrckr-todo {
  color: silver;
  border-bottom: 4px solid silver;
}

ol.progtrckr li.progtrckr-doing {
  color: black;
  border-bottom: 4px solid #CCCCCC;
}

ol.progtrckr li.progtrckr-done {
  color: black;
  border-bottom: 4px solid #f75b1d;
}

ol.progtrckr li:after {
  content: "\00a0\00a0";
}

ol.progtrckr li:before {
  position: relative;
  bottom: -3.7rem;
  float: left;
  left: 50%;
}

ol.progtrckr li.progtrckr-todo:before {
  content: "\039F";
  color: silver;
  background-color: white;
  width: 1.2em;
  line-height: 1.4em;
}

ol.progtrckr li.progtrckr-todo:hover:before {
  color: #ff4500;
}

ol.progtrckr li.progtrckr-doing:before {
  content: "\2022";
  color: white;
  background-color: #CCCCCC;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}

ol.progtrckr li.progtrckr-doing:hover:before {
  color: #ff4500;
}

ol.progtrckr li.progtrckr-done:before {
  content: "\2713";
  color: white;
  background-color: #f75b1d;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}

ol.progtrckr li.progtrckr-done:hover:before {
  color: #333;
}