@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

html, body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
}

.hashtag{
    color: #f75b1d;
}

.bm-menu {
  background: #fff;
  height: 100%;
  width: 100%;
  overflow: hidden;
  
  /* padding: 2.5em 1.5em 0; */
  /* font-size: 1.15em; */
}

::-webkit-scrollbar {
    width: 0px;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.logo{
    position: absolute;
    top: 20px;
    left: 30px;
}

.logo img{
    width: 150px;
}

.backButton{
    display: none;
}

.nextButton{
  color: white; /* button text color */
  outline: none;
  background: #f75b1d;
  border: none;
  letter-spacing: 0.0625em;
  padding: 8px 10px; 
  text-transform: uppercase;
  font: bold 16px 'Bitter', sans-serif; /* use google font */
  line-height: 2;
  position: relative;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  transition: all .5s;
  bottom: 0;
  width: 100%;
  position: absolute;
}

.steps{
    width: 60%;
    margin: 0 auto;
    padding: 15px 15px;
}

.step-title{
    font-size: 2.2em;
}

.info-box-wrapper{
    position: relative;
}

.info-input{
    text-indent: 40px;
    width: 100%;
    height: 2em;
    border: none;
    border-bottom: solid 1px #aaa;
    margin: 15px 0;
}

.info-input:focus{
    outline: none;
    border-bottom: solid 1px #f75b1d;
    /* box-shadow: 0px 0px 4px 2px #ff9f79; */
}

.info-box-icon{
    position: absolute;
    top: 20px;
    left: 10px;
}

label {
    display: inline-block; 
    padding: 5px;
    margin: 20px 40px; 
    position: relative; 
    padding-left: 20px;
}

label input {
    display: none;
}

.tags {
    /* font: 200; */
    letter-spacing: 1px;
    padding-top: 12px;
    border: 1px solid #aaa; 
    color: #aaa;
    width: 90px; height: 25px; 
    position: absolute; 
    overflow: hidden; 
    line-height: 1; 
    text-align: center; 
    border-radius: 10px;
    font-size: 14px; 
    left: 0; 
    top: 70%; 
    /* margin-top: -7.5px; */
}

input:checked + span {
    color: #fff;
    background: #f75b1d; 
    border-color: #f75b1d;
}
